.App {
  

}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.Menu {
  height: 100%;
  width: 17%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;  
  background-color: #417680;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
