<style media="screen">
.static {
  position: static;
  width: 99%;
  height: 99%;
  border: 31px solid #00AF20;
}
.square {
  position : relative;
  top : bottom: 50px ;
  left : 50px;
  height: 100px;
  width: 100px;
  background-color: #555;
}
</style>
