.Input {
    width: 90%;
    padding: 10px;
    /* box-sizing: border-box; */
    text-align: center;
    
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #BABABA;
    background-color: #FFFFFF;
    font: inherit;
    padding: 6px 10px;
    /* display: block; */
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 6px;
    /* border-radius: 10px; */

    height: 30px;
    padding-bottom: 20px;
    padding-top: 9px;
    font-family: 'Literata', sans-serif;
    font-size: 12px;
}

.InputElementTyped {
    outline: none;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 6px;
    /* border-radius: 10px; */

    height: 30px;
    padding-bottom: 15px;
    font-family: 'Literata', sans-serif;
    font-size: 16px;
}

.InputElement:focus {
    outline: none;
    /* background-color: rgb(223, 253, 250); */
    /* border-width: 1px; */
    /* border-color: rgb(223, 253, 250); */
}

.Invalid {
    border: 1px solid rgb(255, 39, 39);
    /* background-color: rgb(255, 211, 211); */
}

