/* Full-width input fields */
input[type=text], input[type=password] {
  width: 26%;
  padding: 10px;
  margin: 16px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  align-items: center;
  display: flex;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  align-items: center;
}

/* Set a style for the submit button */
/*.registerbtn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 26%;
  padding: 10px;
  margin: 16px;
  display: inline-block;
  background: #f1f1f1;
}*/

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
<<<<<<< HEAD
=======
  margin: 8px 0;
>>>>>>> 29c7292c5f028de4c78b135bd3754c9b467fa988
  border: none;
  cursor: pointer;
  width: 26%;
  opacity: 0.9;
}
<<<<<<< HEAD
=======

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
>>>>>>> 29c7292c5f028de4c78b135bd3754c9b467fa988
