body{
    background:white;
    font-family: Lato;
}
.line{
    width:70px;
    height: 4px;
    background-color:green;
    position:absolute;
}
#box-game{
    position: relative;
    width: 50%;
    margin: auto;
    height: 600px;
    background-color: #dde3e1;
    border: 1px solid black;
    overflow: hidden;
    max-width: 600px;
}
.circle {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.line-center {
    width: 100%;
    height: 1px;
    position: absolute;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div#ball {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: red;
    z-index: 1;
}
button#restart {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background: #00ab00;
    color: white;
    font-weight: 800;
    z-index: 2;
}
div#overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    z-index: 2;
}
div#container {
    display: flex;
}
div#box-score {
    position: absolute;
    height: 68px;
    font-size: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 4px;
    color: #0000bf;
    font-family: sans-serif;
}