@font-face {
    font-family: Muli;
    src: url("Muli-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: "Muli";
}

.top_bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 12px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img {
    position: relative;
    /* left: -50%; */
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-image: url("../imgs/sankat36.jpg");
    background-size: cover;
    background-position: right;
    filter: sepia(1);
    transition: filter 0.4s;
    z-index: -1;
}

.name {
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #555;
}

.name:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #e49b3d;
    transition: width 0.4s;
}

.logo:hover > .name:before {
    width: 100%;
}

.logo:hover > .name {
    color: #e49b3d
}

.logo:hover > .img {
    filter: sepia(0);
}

.name > span {
    padding: 2px;
    font-size: 36px;
    font-style: oblique;
}

.title {
    font-size: 2em;
    color: #435a58;
}

.play_area {
    position: relative;
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    background-image: linear-gradient(to right, #616161,#9bc5c3);
    overflow: hidden;
    z-index: -1;
}

.instructions > span{
    position: relative;
    top: -3px;
    margin-left: 4px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #555;
    border-radius: 4px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
}

.cloud {
    position: absolute;
    animation: toright 15s linear;
    opacity: 0.7;
}

@keyframes toright {
    100% {right: 250%;}
}

.player {
    position: absolute;
    width: 150px;
    height: 100px;
    background-image:url("../imgs/plane.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-50%);
}

.projectile {
    position: absolute;
    height: 12px;
    width: 28px;
    background-color: #000;
    animation: toleft 1s;
}

@keyframes toleft {
    100% {left: 250%; display: none}
}