.topbar{
    background-image: linear-gradient(to left, #0b6082, #982727);
    box-shadow: 0 0 6px #737373;
}
.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 70px;
    pointer-events: none;
  }
.top-pills {
    display:flex;
    margin: 0;
    padding: 0;
}
img.icon-bar {
    height: 30px;
}
.topbar .top-pills > li {
    width: 100%;
    list-style-type: none;
}

.topbar .top-pills >li >a {
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

  