.user-box {
    display: flex;
    justify-content: center;
}
.user-left {
    width: 25%;
    margin-top: 60px;
}
.user-right {
    width: 75%;
    margin-top: 20px;
}
a.tab-link {
    color: black;
    width: 50%;
}
.tabs-link {
    display: flex;
}

.tabs {
    width: 100%;
}

.tabs .tab {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    width: 50%;
}
.tabs .tab:hover, .tabs .tab.active {
    background: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.tabs .content {
    padding: 20px;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.2);
}
.post-title {
    text-align: left;
    font-size: 18px;
    font-variant: small-caps;
    color: #77353d;
    font-weight: bold;
}
p {
    text-align: left;
    font-size: 14px;
}
.posts-container {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ececec;
    box-shadow: 0 0 3px 0px #565656;
}
.loading-icon{
    height:30px;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.loading {
    animation: rotation 2s infinite linear;
}
.info-box {
    margin: 15px auto;
    width: 95%;
}
span.title-info {
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 900;
    font-family: Lato;
}
.line-info {
    height: 1px;
    width: 90%;
    background: #902c2d;
    margin: auto;
    margin-bottom: 10px;
}
img.user-img-profile {
    border: 2px solid #902c2d;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
    padding: 2px;
}
.photo-title {
    font-size: 13px;
    color: black;
    padding: 0 20px;
}